Entregas/Entrega_sprint9.txt
Entregas/Entrega_sprint8.txt
db/Flights/DelayedFlights.csv
Sprint11/funciones_estra.ipynb
Entregas/Entrega_sprint11.txt
Sprint17/Base_dades_python/CLIENT.csv
Sprint17/Base_dades_python/Distribucio.csv
Sprint17/Base_dades_python/Personas.csv
Sprint17/Base_dades_python/stock.csv
Sprint17/Base_dades_python/TREBALLADOR.csv
Entregas/Entrega_Sprint17_T02.txt
Entregas/Entrega_Sprint18.txt
Entregas/Secure.txt
Entregas/Entrega_Sprint19.txt
